/* иконките и текст шрифтове */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* десктоп версия */

body {
    box-sizing: border-box;
    margin: 0%;
    background-color: #292929;
    background-image: url('Image/back1.jpg');
    background-size: cover;
}

header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0%;
    padding: 15px;
    z-index: 10;
}

.container {
    box-sizing: border-box;
    margin: auto;
}

.logo {
    float: left;
}

.logo a {
    font-size: 48px;
    display: inline;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    padding: 4px 0px;
    color: wheat;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo a span {
    color: tomato;
}

.burger {
    border: 0;
    cursor: pointer;
    display: none;
    margin: 15px;
    background-color: wheat;
    font-size: 22px;
    position: relative;
    outline: none;
    height: 30px;
    width: 30px;
}

.burger:active {
    color: tomato;
    outline: none;
}

.burger .bar {
    background-color: tomato;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
    top: 40%;
}

.burger .bar:last-of-type {
    top: 60%;
}

.navbar {
    box-sizing: border-box;
    float: right;
}

.navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0%;
}

.navbar ul li {
    display: inline;
    padding: 0px 15px;
}

.navbar ul li a {
    color: tomato;
    display: inline-block;
    text-decoration: none;
    padding: 17px 0px 10px;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -5px;
    height: 2px;
    left: 0px;
    background-color: wheat;
    width: 0%;
}

.navbar ul li a:hover::before {
    width: 100%;
}

.navbar ul li a:hover {
    color: wheat;
}

.navbar ul li a.active::before {
    width: 100%;
}

.navbar a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

.navbar input {
    display: none;
    margin: 0;
    padding: 0;
    height: 43px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

.navbar label {
    box-sizing: border-box;
    display: none;
    line-height: 43px;
    text-align: center;
    position: absolute;
    left: 35px
}

.navbar label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

.navbar ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

.navbar ul.sub-menus li {
    display: block;
    width: 100%;
}

.navbar ul.sub-menus a {
    color: #70F1FF;
    font-size: 16px;
}

.navbar li:hover ul.sub-menus {
    display: block
}

.navbar ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

h2.title1 {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 60px;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    color: tomato;
    position: relative;
}

h2.title1::before {
    content: '';
    position: absolute;
    width: 185px;
    height: 3px;
    left: 45%;
    margin-left: -40px;
    top: 50px;
    background-color: wheat;
}

.more {
    box-sizing: border-box;
    width: 100%;
    padding: 60px 0px;
    height: 720px;
}

.personal {
    box-sizing: border-box;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.title {
    box-sizing: border-box;
    font-size: 35px;
    color: wheat;
    text-align: center;
    text-transform: uppercase;
}

.info {
    font-size: 35px;
    font-style: italic;
    color: tomato;
}

.div_motto {
    margin-top: 60px;
}

.motto {
    background-color: wheat;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    color: rgb(27, 26, 26);
    font-style: italic;
}

.strongM {
    display: block;
    color: tomato;
    text-align: right;
    margin-right: 40px;
}


/* мобилна версия */

@media screen and (max-width: 420px) {
    .burger {
        display: block;
    }
    .burger.show-x .bar:first-of-type {
        transform: translate(-50%, 50%) rotate(225deg);
    }
    .burger.show-x .bar:last-of-type {
        transform: translate(-50%, -150%) rotate(-225deg);
    }
    .navbar ul {
        background-color: wheat;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 80px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }
    .navbar ul.show {
        transform: translateX(0);
    }
    .navbar ul li {
        margin: 15px;
    }
    .personal {
        box-sizing: border-box;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }
    .title {
        box-sizing: border-box;
        font-size: 25px;
        color: wheat;
        text-align: center;
        text-transform: uppercase;
    }
    .info {
        font-size: 25px;
        font-style: italic;
        color: tomato;
    }
    .div_motto {
        margin-top: 0px;
    }
    .motto {
        background-color: wheat;
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        color: rgb(27, 26, 26);
        font-style: italic;
    }
    h2.title1 {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 40px;
        margin-top: 65px;
        text-align: center;
        text-transform: uppercase;
        color: tomato;
        position: relative;
    }
    h2.title1::before {
        content: '';
        position: absolute;
        width: 150px;
        height: 3px;
        left: 40%;
        margin-left: -40px;
        top: 50px;
        background-color: wheat;
    }
}